.DS_Store

*.class
*.log

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

.idea
.idea_modules
.classpath
.settings
.vscode
node_modules/
RUNNING_PID
package
*SNAPSHOT